<!-- Modal -->
<div id="bannerformmodal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Listing Details</h4>
            </div>
            <div class="modal-body row">
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <ul class="list-group stat-panel">
                        <li class="list-group-item row">
                            <div class="col-md-6">User:</div>
                            <div class="col-md-6" id="listUser"></div>
                        </li>
                        <li class="list-group-item row">
                            <div class="col-md-6">Listed Item:</div>
                            <div class="col-md-6" id="listItem"></div>
                        </li>
                        <li class="list-group-item row">
                            <div class="col-md-6">Buyer Location: </div>
                            <div class="col-md-6" id="listBuyerLoc">Country Here</div>
                        </li>
                        <li class="list-group-item row">
                            <div class="col-md-6">Item Location: </div>
                            <div class="col-md-6" id="listItemLoc"></div>
                        </li>
                        <li class="list-group-item row">
                            <div class="col-md-3">Preview Image: </div>
                            <div class="col-md-9" style="margin-top 10px;" id="listImage"></div>
                        </li>
                        <li class="list-group-item row">
                            <div class="col-md-6">Details:</div>
                            <div class="col-md-6" id="listDetails"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="alert('SEND MESSAGE TO BUYER');">Accept</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
