<!-- Modal -->
<div id="bannerformmodal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Messaging</h4>
            </div>
            <div class="modal-body row">
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <ul id="messages">
                  </ul>
                </div>
            </div>
            <div class="modal-footer">
              <input>
                <input type="text" id="m" class="form-control" autocomplete="off" />
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="sendMessage();">Accept</button>
            </div>
        </div>
    </div>
</div>
