<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main"></button>
                    <a class="navbar-brand" href="/">HANDEL</a>
                </div>
            </li>
        </ul>
        <div class="navbar-collapse collapse" id="navbar-main">
            <% if (!user) { %>
                <form class="navbar-form navbar-right" role="login" action="/login" method="post">
                    <div class="form-group">
                        <input class="form-control" placeholder="Email/Username" type="text" name="username" /><br/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" type="password" name="password" />
                    </div>
                    <input class="btn btn-default" type="submit" value="Login" />
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="register">Create an account</a>
                    </li>
                </ul>
                <% } else { %>
                    <ul class="nav navbar-nav">

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a data-toggle="modal" href="#createListingModal" onclick="reloadCreateListingModal();">Create a Listing</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a class="profile-button" data-toggle="modal" href="#myProfileModal" data-username="<%= user.username %>">My Profile</a>
                                </li>
                                <li><a href="#profileSettingsModal" data-toggle="modal">Profile Settings</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#accountSettingsModal" data-toggle="modal" class="loadAccSettings" data-username="<%= user.username %>">Account Settings</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="logout">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <% } %>
        </div>
</nav>
