<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="/stylesheets/jquery-countryselector.min.css" />
    <link rel="stylesheet" href="/stylesheets/postad.css"/>
</head>

<body>

    <% include ../partials/nav.ejs %>

    <div class="container">
            <div class="row">
                <div class="jumbotron">
                    <h2> Welcome to the Buyer's Page! </h2>
                    <hr>
                    <h3> Begin by posting your wanted item down below. If a Handeler wishes to accept your posting, you will receive a message in your inbox.  </h3>
                    <h3> For now, transaction details will need to be sorted out solely between the buyer and the Handeler  </h3>
                    <h4> Future updates will take place in order to establish an automated transaction system. Thank you for your patience </h4>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-8 col-sm-8 col-xs-8 handel-form">
                    <form method="post" id="uploadAd">
                        <div class="form-group ">
                            <label class="control-label " for="item">Item<span class="asteriskField">*</span></label>
                            <input class="form-control" id="item" name="item" type="text" minlength="2" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="image">Image Preview</label>
                            <input class="form-group" id="image" name="image" type="file"/>
                            <img id="imagePreview" src="#" style="max-width:50%";/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="cs1">Item Location</label>
                            <input class="control-label" id="cs1" name="country" type="text"/>
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="details">Further Details and Comments</label>
                            <textarea class="form-control" id="details" name="details" rows="5" style="max-width:100%" type="text"></textarea>
                        </div>
                        <div class="form-group">
                            <div>
                                <button class="btn btn-primary" style="float:right;" name="submitpost" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery.validate.js"></script>
    <script src="/js/postad.js"></script>
    <script src="/js/jquery.countryselector.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#cs1").countrySelector();
        });</script>
    </body>

</html>
