<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
        <script src="/js/home.js"></script>
        <script src="/js/jquery.countryselector.min.js"></script>
</head>

<body>
    <% include ../partials/nav.ejs %>

        <div class="container">
            <div class="row">
                <% if (!user) { %>
                    <div class="col-md-3">
                        <h1>HANDEL</h1>
                        <p>
                            Not logged in. <a href="register">Create an account?</a>
                        </p>
                    </div>
                    <div class="col-md-offset-6 col-md-3">
                        <h3> Some Site Statistics </h3>
                        <ul class="list-group stat-panel">
                            <li class="list-group-item row">
                                <div class="col-md-7">Registered Users:</div>
                                <div class="col-md-5" id="nUsers">-</div>
                            </li>
                            <li class="list-group-item row">
                                <div class="col-md-7">Registered Handelers:</div>
                                <div class="col-md-5" id="nHandelers">-</div>
                            </li>
                            <li class="list-group-item row">
                                <div class="col-md-7">Posted Ads:</div>
                                <div class="col-md-5" id="nAds">-</div>
                            </li>
                        </ul>

                        <h3> Recently Wanted Items </h3>
                        <ul class="list-group stat-panel">
                            <li class="list-group-item row">
                                <div class="col-md-12" id="item1">-</div>
                            </li>
                            <li class="list-group-item row">
                                <div class="col-md-12" id="item2">-</div>
                            </li>
                            <li class="list-group-item row">
                                <div class="col-md-12" id="item3">-</div>
                            </li>
                            <li class="list-group-item row">
                                <div class="col-md-12" id="item4">-</div>
                            </li>
                            <li class="list-group-item row">
                                <div class="col-md-12" id="item5">-</div>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
        <% } else { %>
            <div class="col-md-4">
                <h1>WELCOME <%= userType.toUpperCase() %></h1>
                <p>
                    Successfully logged in as
                    <%= user.username %>.
                </p>
            </div>
            <div class="col-md-8">
                <% if (userType === "handeler"){ %>
                <div class="handelerSearch">
                    <% include ../pages/listings.ejs %>
                </div>
                <% } %>
                <div class="users">
                    <% include ../pages/userListings.ejs %>
                </div>
                <% include ../partials/listingsModal.ejs %>
                <% include ../partials/userListingsModal.ejs %>
            </div>
            <% include ../partials/createListingModal.ejs %>
            <% include ../partials/profileSettingsModal.ejs %>
                </div>
                </div>
                <footer class="footer">
                    <% include ../pages/messaging.ejs %>
                </footer>
                <% } %>


</body>

</html>
