<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

    <div class="container">
      <div class="jumbotron">
        <h1>HANDEL</h1>
        <% if (!user) { %>
            <p>
              Not logged in. <a href="register">Create an account?</a>
            </p>
            <% } else { %>
                <p>
                    Successfuly logged in as
                    <%= user.username %>.
                </p>
                <% } %>
      </div>
      <p>This is some text.</p>
      <p>This is another text.</p>
    </div>



</body>

</html>
