<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

        <% if (!user) { %>
            <p>
              Not logged in.
            </p>
            <% } else { %>
                <p>
                    Successfuly logged in as
                    <%= user.username %>.
                </p>
                <% } %>

</body>

</html>
