<div class="container">
    <div class="col-md-2">
        <button id="openMessaging" data-toggle="popover" data-trigger="focus" data-placement="top" type="button" class="btn btn-default btn-block active">Messaging</button>
    </div>
</div>
<script src="/js/messaging.js"></script>
