<div class="container">
    <div class="col-md-2 col-sm-2 col-xs-4">
        <button id="openMessaging" data-toggle="popover" data-trigger="focus" title="<h4>Open Transactions</h4>" data-placement="top" type="button" class="btn btn-default btn-block active">Messaging</button>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="/stylesheets/messaging.css" />
<script src="/js/messaging.js"></script>
