<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" href="/stylesheets/createListing.css" />
</head>

<body>
    <h2>Your Listings</h2>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <ul class="list-group stat-panel" style="margin: 0; padding: 0;">
            <li class="list-group-item row">
                <div class="col-md-6">Listed Item:</div>
                <div class="col-md-3"> - </div>
                <div class="col-md-3"> - </div>
            </li>
        </ul>
        <ul class="list-group stat-panel" id="userListings" style="margin: 0; padding: 0;">
        </ul>
        <button type="button" id="nextbtnL" class="btn btn-default" style="float:right; margin-top:5px; margin-left:5px;">Next</button>
        <button type="button" id="prevbtnL" class="btn btn-default" style="float:right; margin-top:5px; margin-right:5px;">Previous</button>
    </div>
    
    <!-- Modal -->
<div id="editListingModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Details</h4>
            </div>
            <div class="modal-body row">
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <form method="post" id="editListing">
                            <div class="form-group" id="listingIdNum">
                                <input class="form-control" id="idnum" name="idnum" type="text">
                            </div>
                            <div class="form-group" id="editItemGroup">
                                <label class="control-label " for="editItem">Item<span class="asteriskField">*</span></label>
                                <input class="form-control" id="editItem" name="editItem" type="text" minlength="2" required/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="editImage">New Image (Old image will remain if none specified)</label>
                                <input class="form-group" id="editImage" name="editImage" type="file" />
                                <img id="editimagePreview" src="#" style="max-width:50%" ;/>
                            </div>
                            <div id="countryPickerLabel" class="form-group">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="editDetails">Further Details and Comments</label>
                                <textarea class="form-control" id="editDetails" name="editDetails" rows="5" style="max-width:100%" type="text"></textarea>
                            </div>
                            <div class="form-group">
                                <div>
                                    <button class="btn btn-primary" style="float:right;" type="submit">Save</button>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteListingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Successfully removed listing</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    <script src="/js/userListings.js"></script>
</body>

</html>


